$bg-dark: #191920;
$bg-light: #EBECEF;

$green: #3D8B69;
$green-light: #339A6D;

$yellow: #D0BD60;
$yellow-light: #5C5015;

.dark{
    background-color: $bg-dark;
}
.light{
    background-color: $bg-light;
}