@import '../base/variables';

.main-button{
    background-color: $green;
    color: white;
    font-family: 'Poppins';
    font-size: 1.8rem;
    padding: 0.9rem 6rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.outline-button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins';
    font-size: 1.8rem;
    padding: 0.9rem 6rem;
    outline: none;
    border: 1px $green solid;
    border-radius: 5px;
    cursor: pointer;
}

.secondary-button{
    background-color: $green;
    color: white;
    font-family: 'Poppins';
    font-size: 1.6rem;
    padding: 0.6rem 2.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    @media screen and (max-width: 400px) {
        gap: 2rem;
    }
}

.toggle-button{
    background-color: #F9F9F9;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto';
    font-size: 1.8rem;
    padding: 1.8rem 2.5rem;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .2s ease-in-out;
}


.toggle-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    @media screen and (max-width: 700px) {
        gap: 3rem;
    }
    @media screen and (max-width: 450px) {
        flex-direction: column;
        gap: 3rem;
        margin-top: 2rem;
    }
}

.toggle-dark{
    background-color: #404040;
    color: rgba(255, 254, 254, 0.8);
    transition: .2s ease-in-out;
}

.light{
    .main-button, .secondary-button{
        background-color: $green-light;
    }
    .outline-button{
        color: rgba(51, 51, 51, 0.9);
        border: 1px #464646 solid;
    }
}

.dark-container{
    background-color: #212129;
    width: 80%;
    margin: auto;
    min-height: 53rem;
    border-radius: 25px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem;
    margin-top: 20rem;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
        width: 90%;
    }

    .inside-dark{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        gap: 6rem;
        h1{
            color: #F2F1F1;
            flex-basis: 60%;
        }
        p{
            color: #F0F0F0;
            background-color: transparent;
        }

        @media screen and (max-width: 865px) {
            flex-direction: column;
            align-items: start;

            h1{
                width: 100%;
            }

            .dark{
                width: 100%;
            }
        }
    }

    
    .paragraph-dark{
        width: 40%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media screen and (max-width: 865px) {
            width: 100%;
        }
    }
}